.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emailAndPass {
  background-color: #c9cbcf;
  /* background-color: indianred; */

  /* margin: 0px 35vh;*/
  padding: 5vh 0;
  /* border: 2px solid black; */
  border-radius: 20px;
}

/* .navbar {
  background-color: rgb(168, 168, 214);
  color: white;
  padding: 20px;
} */
.box {
  /* position: "absolute"; */
  /* margin-top: 230px; */
  /* margin-bottom: 1000px; */
  /* margin-left: 800px; */
  /* margin-right: 200px; */
  border: 2px solid black;
  text-align: center;
  background: white;
  height: fit-content;
  margin: auto;
  padding: 30px 20px;
  border-radius: 20px;
}

.cancel-button:hover {
  background: #db0000 !important;
}
